{% extends "base.html" %}

{% load static %}

{% block content %}
    <main>
        <h1>My Accounts</h1>
        <table>
            <tr>
                <th>Name</th>
                <th>Number</th>
                <th>Number of receipts</th>
            </tr>
            <tr>
                {% if user.is_authenticated %}
                    {% for account in account_list %}
                        <tr>
                            <td>{{ account.name }}</td>
                            <td>{{ account.number }}</td>
                            <td>{{ account.totals }}</td>
                        </tr>
                    {% endfor %}
                {% endif %}
            </tr>
        </table>
    </main>
{% endblock content %}
