{% extends "base.html" %}

{% load static %}

{% block content %}
    <main>
        <h1>My Categories</h1>
        <table>
            <tr>
                <th>Name</th>
                <th>Number of receipts</th>
            </tr>
            <tr>
                {% if user.is_authenticated %}
                    {% for expense in expense_list %}
                        <tr>
                            <td>{{ expense.name }}</td>
                            <td>{{ expense.totals }}</td>
                        </tr>
                    {% endfor %}
                {% endif %}
            </tr>
        </table>
    </main>
{% endblock content %}
